.slider-container {
    position: relative;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .slider {
    width: 100%;
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 50%; /* Makes the images circular */
    display: block;
  }
  
  .prev-button, .next-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .prev-button:hover, .next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  