/* Card styles */
.card {
  transition: transform 0.3s;
  height: 100%; /* Ensures that the card takes full height in the column */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content like 'Send Message' stays at the bottom */
}

.card:hover {
  transform: translateY(-5px);
}

.card-body { 
  flex-grow: 1; /* Expands card body to fill the space */ 
}

/* Adjust image styling */
.card-img-top {
  width: 100%; /* Ensures the image takes full width of the card */
  height: 100px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
  border-top-left-radius: 15px; /* Match the rounded corners */
  border-top-right-radius: 15px; /* Match the rounded corners */
}

.interests {
  margin: 0;
  padding: 0;
}

.badge-user-intrest {
  color: #fff;
  background-color: #6A5ACD;
}

/* Button styles */
/* .btn-primary {
  background-color: #FF6347;
  border-color: #FF6347;
}

.btn-primary:hover {
  background-color: #FF4500;
  border-color: #FF4500;
} */

/* Additional styles for layout */
.container-fluid {
  margin-top: 20px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.row.g-4 {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-6, .col-xl-3 {
  display: flex;
}

.card {
  margin-bottom: 20px;
}


.modal.fade.show {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  border-radius: 10px;
}

.modal-header .close {
  font-size: 1.5rem;
}
