/* General Table Styling */
.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: 1px solid black;;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-top: 20px;
    width: 100%;
    font-size: 16px; /* Font size for table */
    color: #000000; /* Dark black text */
  }
  
  /* Table Header Styling */
  .custom-table th {
    /* background: linear-gradient(145deg, #f7f7f7, #e0e0e0); */
    border-bottom: 1px solid black;
    color: #333;
    text-align: left;
    padding: 12px;
    font-size: 18px; /* Slightly larger font size */
    font-weight: bold;
  }
  
  /* Table Row Styling */
  .custom-table td {
    padding: 12px;
    border-bottom: 1px solid black;
    color: #000000;
    font-size: 16px;
  }
  
  .custom-table tbody tr:hover {
    background-color: #f9f9f9;
    transition: all 0.2s ease-in-out;
  }
  
  /* Interest Buttons */
  .interest-buttons button {
    margin: 2px;
  }
  
  /* Action Buttons */
  .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .action-buttons .btn-primary {
    margin: 0 5px;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
    transition: all 0.2s ease-in-out;
  }
  
  .action-buttons .btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
  }
  

  button{
    background-color: #6A5ACD !important;
    color: white !important;
    border: none;
  }